:root {
 
    --blue:  #151c2f;
    --white: white;
    --buttonBlue: #007BFF;  
    --whitish: #e8f0fe; 
  }

  body {
    background-color: var(--blue);

    font-family: 'roboto','Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

/* text in header*/
.header-text {
  color: var(--blue);
}

/*search box*/
.input-box {
  color: var(--blue);
  font-size: 20px;
    font-family: 'roboto','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    
    border: 2px solid var(--white);
    margin: auto;
    border-radius: 10px;
    background-color: var(--white);
  
}

/* search button */
.search-button {
  border-radius: 10px;
  background-color: var(--buttonBlue);
  border: 2px solid var(--buttonBlue);
  color: var(--white);
  font-size: 14px;
  font-family: 'roboto','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
  margin-left: 50px;
  margin-top: 25px;
  height: 40px;
 
}

/*all form elements*/
form {
  margin: 10px;
}

/* response for blank search*/
#msg {
  color: var(--white);
  font-size: 24px;
  font-family: 'roboto','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}
.the-button {
 
  width: 150px;
  height: 300px;

}
/* saved cities search button */
.saved-cities {
  color: var(--blue);
  font-size: 24px;
  font-family: 'roboto','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
  margin-top: 20px;
  border: 2px solid var(--whitish);
  border-radius: 10px;
  background-color: var(--whitish);
  width: 150px; 
}

/* current weather */
.weather-div {
  color: var(--white); 
 margin-left: 10%;
  margin-top: 1%;
}

.current {
  color: var(--white); 
  margin-left: 10%;
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap; 
}

/*all h1 elements*/
h1 {
  font-size: 12px;
}
/*all span elements*/
span {
  font-size: 24px;
}
/*current weather div*/
.city {
  border: 2px solid var(--white);
  border-radius: 10px;
  margin-left: 10%;
  padding: 5px;
  
}
/*five day forecast div*/
.city1 {
  width: 12%;
  border: 2px solid var(--white);
  border-radius: 10px;
  margin-left: 5px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}

#weather-card {
  color: var(--white);
  width: 70%;
  
}

/*UV index highlight*/
.UVI-low {
  background-color: green;
}

.UVI-mod {
  background-color: orange;
}

.UVI-high {
  background-color: red;
}
/*five day weather elements*/
.five-days {
  color: var(--white);
  margin: 10px;
  

}
/*all h3 elements*/
h3 {
  font-size: 18px;
}
/*most of the weather elements*/
.card-body {
 
  display: flex;
  flex-wrap: wrap;
  
}

